## Aerial Bombing Operations in World War 2##

This notebook is based on the [kaggle dataset](https://www.kaggle.com/usaf/world-war-ii) of the same name.

World War 2 is a topic that is of great interest to me and I hope to find something interesting regarding the aircraft used and the main theatres of war/areas with most war activity from the USAF's point of view.

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

Let us first import the dataset and store it.

In [22]:
data = pd.read_csv('operations.csv')

We will first explore the dataset to get a overview of the data.

In [23]:
data.shape

(178281, 46)

The dataset has 178281 rows of data across 46 different columns. We will next explore the 46 columns.

There is a wealth of information in this dataset. Let us check if we have any missing or dummy data in the dataset.

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178281 entries, 0 to 178280
Data columns (total 46 columns):
Mission ID                               178281 non-null int64
Mission Date                             178281 non-null object
Theater of Operations                    175123 non-null object
Country                                  126494 non-null object
Air Force                                126444 non-null object
Unit ID                                  50913 non-null object
Aircraft Series                          178165 non-null object
Callsign                                 21 non-null object
Mission Type                             47186 non-null object
Takeoff Base                             3383 non-null object
Takeoff Location                         3338 non-null object
Takeoff Latitude                         2981 non-null object
Takeoff Longitude                        2980 non-null float64
Target ID                                127406 non-null object
Target Country                           177682 non-null object
Target City                              176018 non-null object
Target Type                              146370 non-null object
Target Industry                          126479 non-null object
Target Priority                          134720 non-null object
Target Latitude                          169565 non-null float64
Target Longitude                         169543 non-null float64
Altitude (Hundreds of Feet)              120826 non-null float64
Airborne Aircraft                        82242 non-null float64
Attacking Aircraft                       125108 non-null float64
Bombing Aircraft                         81612 non-null float64
Aircraft Returned                        133 non-null float64
Aircraft Failed                          247 non-null float64
Aircraft Damaged                         38 non-null float64
Aircraft Lost                            158 non-null float64
High Explosives                          34737 non-null float64
High Explosives Type                     41945 non-null object
High Explosives Weight (Pounds)          2021 non-null object
High Explosives Weight (Tons)            146201 non-null float64
Incendiary Devices                       3283 non-null float64
Incendiary Devices Type                  5519 non-null object
Incendiary Devices Weight (Pounds)       356 non-null float64
Incendiary Devices Weight (Tons)         25732 non-null float64
Fragmentation Devices                    5768 non-null float64
Fragmentation Devices Type               5765 non-null object
Fragmentation Devices Weight (Pounds)    194 non-null float64
Fragmentation Devices Weight (Tons)      16902 non-null float64
Total Weight (Pounds)                    2119 non-null float64
Total Weight (Tons)                      166508 non-null float64
Time Over Target                         689 non-null object
Bomb Damage Assessment                   104 non-null object
Source ID                                174236 non-null float64
dtypes: float64(22), int64(1), object(23)
memory usage: 62.6+ MB

The data seems to be quite dirty and may need extensive cleaning. There are multiple columns with very few rows of data. My initial hunch was to remove them since they have very less data, but I decided to leave them as they are and only use the columns which have a good amount of data. In the data cleaning process my focus would be on cleaning the columns which have enough data to regenerate the missing rows.

In [24]:
data = data.drop('Callsign',axis=1)

In [25]:
data.shape

(178281, 45)